.container-fluid {
background-color: rgb(230, 228, 228);
padding-bottom: 20px;
}

.navbar {
    font-family: "Afacad";
    padding: 0;
}

.navbar-brand {
    font-size: 2rem;
    padding-top: 24px;
}

.nav-link {
    font-size: 1.5rem;
  }

body {
background-color: rgb(230, 228, 228);
}

footer {
    font-family: "Afacad";
}

/* Small devices (phones 320px to 767px */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1.4rem;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }
}
